################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Deloitte.Task/Deloite.Task.BusinessService/bin/Debug/net5.0
