@using Deloitte.Task.Web.Models
@model LoginViewModel
@Html.ValidationSummary(true)
@Html.ValidationMessageFor(model => model.Password)
@Html.ValidationMessageFor(model => model.Name)
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*@{
    ViewData["Title"] = "User Login";
}*@

<h5>Login</h5>  
  
<form method="post">  
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group col-sm-6">  
        <label for="Username">Username</label>  
        <input type="text" class="form-control" id="Name" asp-for="Name" maxlength="10" autocomplete="off"  placeholder="Enter username">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>  
    <div class="form-group col-sm-6">  
        <label for="Password">Password</label>  
        <input type="password" class="form-control" id="Password" maxlength="10" asp-for="Password" autocomplete="off"  placeholder="Enter password">  
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group col-sm-6" >
        <label for="RememberMe">Remember Me</label>
        <input type="checkbox"  id="RememberMe" placeholder="Remember Me">
   </div>
    <div class="form-group col-sm-6">  
        <button type="submit" class="btn btn-primary" >Login</button>  
    </div>
    </br>
    <div>Note: Please use user name as "Test" and password as "Test123" </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
